$purple: hsl(257, 40%, 49%);

$openSans:'Open Sans', sans-serif;

body{
    display: grid;
    grid-template-areas: 
        "logobar logobar"
        "image text"
        "credits credits";
    grid-template-columns: 1fr 1fr;
    background-color: $purple;
    font-family: $openSans;
    font-weight: 400;
    background-image: url(/images/bg-desktop.svg);
    gap:20px;
    column-gap: 100px;
    padding: 40px;
    padding-top: 20px;

        .logo{
            grid-area: logobar;
        }

        .image{
            grid-area: image;
            width: 50vw;
            object-fit: fill;

            img{
                object-fit: fill;
                width: 100%;
                height: 100%;
            }
        }

        .message{
            grid-area:text;

            h1{
                color: white;
            }

            p{
                color: white;
            }

            button{
                background-color: white;
                color: $purple;
                width: 200px;
                padding: 20px;
                border-radius: 100px;
                border: none;
                box-shadow: 1px 7px 2px darken($purple,10%);
            }
        }

        footer{
            grid-area:credits;
        }
}


@media(max-width:600px){
    body{
        display: flex;
        font-size: 10px;
        flex-direction: column;
        background-image: url(/images/bg-mobile.svg);
        justify-content: space-between;
        height: 100%;

        .logo{
            order:1;

            img{
                height: 50%;
                width: 50%;
                margin-bottom: 20%;
                object-fit: cover;
            }
        }

        .image{
            order: 2;
            margin-bottom: 20%;
        }

        .message{
            order:3;
            display: flex;
            flex-direction: column;

            h1{
                margin:5%;
            }

            p{
                margin:5%;
                font-size: 1.2em;
                text-align: center;
            }

            button{
                align-self: center;
            }
        }

        footer{
            order:4;
        }
    }
}